@{
    ViewData["Title"] = "Login Admin";
}
<partial name="/Views/Shared/_HeaderAdmin.cshtml" />
<body class="adminbody">
<div class="break"></div>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form asp-action="AdminLogin" asp-controller="Admin" class="form-create">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                        @if (TempData["DebugMessage"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["DebugMessage"]
                            </div>
                        }
                        <h3 class="font-weight-bold mb-3">Login as Admin</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="name" type="text" placeholder="Name" class="form-control" name="AdminName" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="password" type="password" placeholder="Password" class="form-control" name="Password" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary-admin py-3 px-4" id="submitBtn">Login</button>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-no-style" role="button" asp-controller="Home" asp-action="Index">back to website</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
