
@{
    ViewData["Title"] = "All Request";
}
<partial name="/Views/Shared/_HeaderAdmin.cshtml"></partial>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
@* 
    @endif

        @if(session('deletebook'))
        <div class="alert alert-success">
            {{ session('deletebook') }}
        </div>
    @endif *@
        <h5 class="card-title mb-4 d-inline">All Request</h5>
      
        <table class="table">
          <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">email</th>
              <th scope="col">phonenumber</th>
              <th scope="col">Category of Book</th>
              <th scope="col">Book name</th>
              <th scope="col">Status</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <!--foreach-->

            <tr>
              <td>user->name</td>
              <td>user->email</td>
              <td>user->phonenum</td>
              <td>category->name</td>
              <td>book->name</td>
              <td>Success</td>
              <td><a href="" class="btn btn-danger  text-center" onclick="return confirm('Are you sure you want to delete this Category?');">Delete</a></td>
            </tr>

            <!--end foreach-->

          </tbody>
        </table> 
      </div>
    </div>
  </div>
</div>
