<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading text-brown">Online Bookstore</h2>
                <p class="text-black">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis aliquam tellus,
                    vel tincidunt ipsum egestas eget. Morbi tortor ex, scelerisque nec sodales ut, condimentum at metus. In pretium eu mi ac dapibus.
                </p>
                <a href="#">Read more <span class="fa fa-chevron-right text-brown" style="font-size: 11px;"></span></a>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading text-brown">Famous Author</h2>
                <div class="tagcloud text-black">
                    <a href="#" class="tag-cloud-link">Harper Lee</a>
                    <a href="#" class="tag-cloud-link">J.K Rowling</a>
                    <a href="#" class="tag-cloud-link">Gabriel Garcia Marquez</a>
                    <a href="#" class="tag-cloud-link">E.M Forster</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading text-brown">Category</h2>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">Sci-Fi</a>
                    <a href="#" class="tag-cloud-link">Romance</a>
                    <a href="#" class="tag-cloud-link">Biography</a>
                    <a href="#" class="tag-cloud-link">Documentaries</a>
                    <a href="#" class="tag-cloud-link">Fantasy</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading text-brown">Follow us</h2>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Google"><span class="fa fa-google"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
</footer>
