<div class="containerheader">
    <nav>
        <h2 class="text-brown use-font weight">Admin Dashboard</h2>
        <div class="nav-links">
            <ul>
                <li><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a href="#">Manage Users</a></li>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <!-- Custom dropdown -->
                        <a href="#" class="dropdown-toggle">
                            @ViewData["AdminName"]
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-content">
                            <a asp-controller="Admin" asp-action="AdminLogout">Logout</a>
                        </div>
                    </li>
                }
                else
                {
                    <li><a asp-controller="Admin" asp-action="AdminLogin">Login</a></li>
                }
            </ul>
        </div>
    </nav>
</div>
