<div class="containerheader">
    <nav>
        <h2 class="text-brown use-font weight">Online Open Library</h2>
        <div class="nav-links" id="navlinkkk">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    <!-- Custom dropdown -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            @ViewData["Username"]
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-content">
                            <a class="dropdown-item" asp-controller="User" asp-action="RequestBooks">My Request</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="UserLogout">Logout</a>
                        </div>
                    </li>
                }
                else
                {
                    <li><a class="nav-link" asp-controller="Auth" asp-action="UserLogin">Login</a></li>
                    <li><a class="nav-link" asp-controller="Auth" asp-action="UserSignup">Register</a></li>
                }
            </ul>
        </div>
    </nav>
</div>



@*                 @if (User.Identity.IsAuthenticated)
                {
                    <p>Authenticated as: @User.Identity.Name</p>
                    @if (User.IsInRole("User"))
                    {
                        <p>Role: User</p>
                    }
                    else
                    {
                        <p>Role: Not User</p>
                    }
                }
                else
                {
                    <p>Not Authenticated</p>
                    <li><a class="nav-link" asp-controller="Auth" asp-action="UserLogin">Login</a></li>
                    <li><a class="nav-link" asp-controller="Auth" asp-action="UserSignup">Register</a></li>
                } *@