<div class="containerheader">
    <nav>
       @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
        <h2 class="text-brown use-font weight">Admin Dashboard</h2>
        <div class="nav-links">
            <ul>

                <li><a asp-controller="Admin" asp-action="Index">Home</a></li>
                    <li class="dropdown">
                        <!-- Custom dropdown -->
                        <a href="#" class="dropdown-toggle">
                            @ViewData["AdminName"]
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-content">
                            <a asp-controller="Admin" asp-action="AdminLogout">Logout</a>
                        </div>
                    </li>         
            </ul>
        </div>
        }
    </nav>
</div>
