<div class="containerheader">
    <nav class="pr-custom">
        <h2 class="text-brown use-font weight">Admin Dashboard</h2>
        <ul>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Admin")">Home</a>
            </li>

            @if (User.Identity.IsAuthenticated && ViewData["AdminName"] != null)
            {
                <li class="nav-item dropdown">
                    <a id="usernameDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewData["AdminName"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="usernameDropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Visit the Website</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="AdminLogout">Logout</a>
                    </div>
                </li>
            }
        </ul>
    </nav>
</div>
