@{
    ViewData["Title"] = "My Request";
}
<partial name="/Views/Shared/_Header.cshtml"></partial>
<div class="requestbookscontainer js-fullheight mx-auto">
    <div class="container">
        <div class="row mt-5 slider-text justify-content-start" data-scrollax-parent="true">
            <!--align-items-center-->
            <div class="col-md-7 ftco-animate">
                <h1 class="text-center">My Request</h1>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">name</th>
                            <th scope="col">email</th>
                            <th scope="col">phone number</th>
                            <th scope="col">Category of Book</th>
                            <th scope="col">Book name</th>
                            <th scopr="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!--magfofor each per request ni user-->

                        <tr>
                            <th scope="row">Jackielyn Duero</th>
                            <td>duerojackie@gmail.com</td>
                            <td>09112233456</td>
                            <td>Fiction</td>
                            <td>Pride and Prejudice</td>
                            <td>Processing</td>
                        </tr>
                        <!--end of foreach-->
                        <tr>
                            <th scope="row">Jackielyn Duero</th>
                            <td>duerojackie@gmail.com</td>
                            <td>09112233456</td>
                            <td>Fiction</td>
                            <td>Pride and Prejudice</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <th scope="row">Jackielyn Duero</th>
                            <td>duerojackie@gmail.com</td>
                            <td>09112233456</td>
                            <td>Fiction</td>
                            <td>Pride and Prejudice</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <th scope="row">Jackielyn Duero</th>
                            <td>duerojackie@gmail.com</td>
                            <td>09112233456</td>
                            <td>Fiction</td>
                            <td>Pride and Prejudice</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <th scope="row">Jackielyn Duero</th>
                            <td>duerojackie@gmail.com</td>
                            <td>09112233456</td>
                            <td>Fiction</td>
                            <td>Pride and Prejudice</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <th scope="row">Jackielyn Duero</th>
                            <td>duerojackie@gmail.com</td>
                            <td>09112233456</td>
                            <td>Fiction</td>
                            <td>Pride and Prejudice</td>
                            <td>Processing</td>
                        </tr>
                        <tr>
                            <th scope="row">Jackielyn Duero</th>
                            <td>duerojackie@gmail.com</td>
                            <td>09112233456</td>
                            <td>Fiction</td>
                            <td>Pride and Prejudice</td>
                            <td>Processing</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="/Views/Shared/_Footer.cshtml"></partial>
