@{
    ViewData["Title"] = "Login User";
}
<partial name="/Views/Shared/_Header.cshtml" />
<body>
    <br>
    <!-- need wrap form-->
    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- Form starts here -->
                    <form asp-action="UserLogin" asp-controller="User" class="form-create">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                        <h3 class="font-weight-bold mb-3 text-brown">Login</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="name" type="text" placeholder="Name" class="form-control" name="Username" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="password" type="password" placeholder="Password" class="form-control" name="Password" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary-login py-3 px-4">Login</button>
                                </div>
                            </div>

                                <div class="col-md-12">
                                <div class="form-group">
                                    <a asp-controller="Admin" asp-action="AdminLogin" class="btn btn-admin py-3 px-4">Login as Admin</a>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="space"></div>
                    <div class="btn-text-center">
                        <p>Don't have an account? @Html.ActionLink("Register Here", "UserSignup", "Auth", null, new { @class = "btn-login-link" })</p>
                    </div>
                </div>

                </div>
            </div>

    </section>
</body>

