@model OopProject.Models.Book
@{
    ViewBag.Title = "Update Book";
}
<partial name="/Views/Shared/_HeaderAdmin.cshtml"></partial>

<div class="row UpdateBooks mx-auto">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <h5 class="card-title mb-5 d-inline">Update Book</h5>
                <form method="POST" asp-action="UpdateBooks" asp-controller="BooksAdmin" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="BookTitle"></label>
                        <input asp-for="BookTitle" class="form-control" />
                        <span asp-validation-for="BookTitle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PublicationYear"></label>
                        <input asp-for="PublicationYear" class="form-control" />
                        <span asp-validation-for="PublicationYear" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BookDescription"></label>
                        <textarea asp-for="BookDescription" class="form-control"></textarea>
                        <span asp-validation-for="BookDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Image">Image (optional)</label>
                        <input type="file" name="image" id="image" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Author"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AuthorDescription"></label>
                        <textarea asp-for="AuthorDescription" class="form-control"></textarea>
                        <span asp-validation-for="AuthorDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Categories">Select Category</label>
                        <select name="selectedCategoryIds" id="Categories" class="form-control">
                            <option value="" disabled selected>Select a category</option>
                            @foreach (var category in ViewBag.Categories as List<OopProject.Models.Category>)
                            {
                                <option value="@category.Id">
                                    @category.CategoryName
                                </option>
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Update Book</button>
                </form>
            </div>
        </div>
    </div>
</div>
