@{
    ViewData["Title"] = "Create Category";
}
<partial name="/Views/Shared/_HeaderAdmin.cshtml"></partial>
<div class="row AddBooks mx-auto">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-5 d-inline">Add Genre</h5>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        Please fix the following errors:
                        <ul>
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        </ul>
                    </div>
                }
                <form method="POST" asp-action="CreateCategory" asp-controller="CategoryBooksAdmin" enctype="multipart/form-data">
                    <div class="form-outline mb-4 mt-4">
                        <input type="text" name="CategoryName" id="form2Example1" class="form-control" placeholder="Category Name" required />
                    </div>
                    <div class="form-outline mb-4 mt-4">
                        <input type="text" name="Description" id="form2Example2" class="form-control" placeholder="Description" required />
                    </div>
                    <div class="form-outline mb-4 mt-4">
                        <input type="file" name="Image" id="form2Example3" class="form-control" />
                    </div>
                    <br />

                    <button type="submit" name="submit" class="btn btn-custom mb-4 text-center">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
